body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  background-color: blanchedalmond;
}
.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blanchedalmond;
  /* background-image: url("./features/images/pexels-pixabay-247671.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  animation: fadeInLeft 0.3s ease;
}
@keyframes fadeInLeft {
  0% {
    /* opacity: 0; */
    transform: translateX(-100vw)
  }
  100% {
    /* opacity: 1; */
    transform: translateX(0)
  }
}
.Navbar {
  width: 100vw;
  text-align: left;
  position: fixed;
  display: flex;
  align-items: center;
  padding-left: 10vw;
  box-sizing: border-box;
  color:rgb(141, 65, 78);
  background-color: rgb(241, 224, 197);
  background-color: blanchedalmond;
  height: 10vh;

  box-shadow: 0px 0px 7px -3px rgba(0,0,0,0.88); 
  box-shadow: 0px 0px 7px -3px rgba(0,0,0,0.88);
}

.noteList {
    margin-top: 10vh;
}

.Note {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  /* background-image: url("./features/images/pexels-sasha-martynov-1260727.jpg"); */
  background: burlywood;
  /* background-repeat: repeat;
  background-size: cover; */
  background-repeat: no-repeat;
  background-size: cover;
  animation: fadeInRight 0.3s ease;
}
@keyframes fadeInRight {
  0% {
    /* opacity: 0; */
    transform: translateX(100vw)
  }
  100% {
    /* opacity: 1; */
    transform: translateX(0)
  }
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  background-color: burlywood;
  border-radius: 10px;
}

input, textarea {
  width: 90vw;
  border: none;
  font-size: 20px;
  outline: none;
  background-color: inherit;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input{
  font-weight: 800;
  color: rgb(0, 0, 0);
  text-align: center;
  max-height: 10vh;
  min-height: 10vh;
}
textarea {
  font-weight: 400;
  max-height: 85vh;
  min-height: 85vh;
  resize: none;
}


.notePreview {
  padding: 5px;
  width: 80vw;
  width: 80vw;
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 12px -3px rgba(0,0,0,0.88); 
  box-shadow: 0px 0px 12px -3px rgba(0,0,0,0.88);
  background-image: url("./features/images/pexels-sasha-martynov-1260727.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: ivory;
  margin-bottom: 10px;
  transition: 2s;
  /* animation: fadeInBottom 0.3s; */

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.articleLink {
  /* background-color: red; */
  width: 87%;
}
.deleteButton {
  /* background-color: coral; */
  border-radius: 30%;
  /* box-shadow: 10px 10px 7px -3px rgba(0,0,0,0.88);  */
  box-shadow: 0px 0px 7px -3px rgba(0, 0, 0, 0.88);
  transition: 1s;
  width: 4vmax;
}
p {
  margin: none;
  padding: none;
}
.deleteButton:hover, .deleteButton:active{
  background-color: rgba(160, 59, 59, 0.4);
  box-shadow: 4px 4px 20px -3px rgba(0, 0, 0, 0.88);
}
@keyframes fadeInBottom {
  0% {
    opacity: 0;
    /* transform: translateY(100vh) */
  }
  50% {
    opacity: 0;
    transform: translateX(-100vh)
  }
  100% {
    opacity: 1;
    transform: translateX(0)
  }
}
.notePreview h3 {
  color: brown;
  margin: 0;
}

.notePreview a {
  text-decoration: none;
  color: black;
}
.dateAndTime {
  color: green;
  font-style: italic;
  /* font-family: cursive; */
  font-size: 10px;
  margin-bottom: 5px;
}
.imageAndDate {
  display: flex;
  align-items: center;
}

.addNoteButton {
  color: red;
  border-radius: 50%;
  box-shadow: 0px 0px 12px -3px rgba(0,0,0,0.88); 
  box-shadow: 0px 0px 12px -3px rgba(0,0,0,0.88);
  position: fixed;
  bottom: 10vh;
  right: 10vw;
  width: 10vmax;
  transition: .5s;
}
.addNoteButton:hover, .addNoteButton:active {
  box-shadow: none;
}
.clockAndCalendar {
  width: 1.5vmax;
}
hr {
  width: 100%;
  /* height: 100px; */
  background-color: black;
}
.backButton {
  background: grey; 
  /* border: none; */
  border: 2px solid black;
  position: fixed;
  bottom: 10vh;
  right: 10vw;
  border-radius: 10px;
  transition: 0.5s;
}
.backButton:hover {
  border-radius: 50%;
  background-color: rgb(217, 223, 217);
}


